name: Python CI

on:
  push:
    branches:
     - feature/*
     - hotfix/*
     - bugfix/*
  pull_request:
    branches:
      - main
      - dev

jobs:
  ci:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Call composite workflow 
        uses: trisnol/workflows/python-main@main
        with: 
          version: '3.10'
          min_test_coverage: '0.0'

